---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/HeaderMobile.astro';

import content from '../../data/content.json';

import Card from '../../components/Card.astro';
import CardHorizontal from '../../components/CardHorizontal.astro';
import Alert from '../../components/Alert.astro';
import Title from '../../components/Title.astro';
import Ads from '../../components/Ads.astro';
import Share from '../../components/Share.astro';
import Comment from '../../components/Comment.astro';
import Statistic from '../../components/Statistic.astro';
import Footer from '../../components/Footer.astro';

// import { hasContentType } from 'astro/actions/runtime/utils.js';

// Range Content
const contentDetail = content.slice(3, 4);
const contentFeed = content.slice(0, 4);
const contentPress = content.slice(1, 4);
const contentFeed2 = content.slice(1, 4);


---

<Layout title="Suara Konsumen">
	<Header />
		<!-- COLUMN LEFT -->
		<Alert 
			style="Tanggapan"
		/>
		{
			contentDetail.map(({ title, short_desc, desc, cover, category, link, avatar, user, date, comment, viewer }) => (
				<Card 
					name="detail" 
					
					title={title} 
					short_desc={short_desc} 
					desc={desc} 
					cover={cover} 
					category={category} 
					link={link} 
					avatar={avatar} 
					user={user} 
					date={date}
					comment={comment}
					viewer={viewer}
				/>
			))
		}
        <Share 
            
        />
        <Comment 
            
        />
		<CardHorizontal  title="Terkait" device="mobile" />
        <Title title="Rekomendasi"  marginTop="mt-4 px-4"/>
		{
			contentFeed.map(({ title, short_desc, cover, category, link, avatar, user, date, comment, viewer }) => (
				<Card 
					name="feed" 
					
					title={title} 
					short_desc={short_desc} 
					cover={cover} 
					category={category} 
					link={link} 
					avatar={avatar} 
					user={user} 
					date={date}
					comment={comment}
					viewer={viewer}
				/>
			))
		}
		<Ads  typeAds="728x90" imgAds="https://transportdesigned.com/wp-content/uploads/Ad-Banner-728x90-02.png" />
		{
			contentFeed2.map(({ title, short_desc, cover, category, link, avatar, user, date, comment, viewer }) => (
				<Card 
					name="feed" 
					
					title={title} 
					short_desc={short_desc} 
					cover={cover} 
					category={category} 
					link={link} 
					avatar={avatar} 
					user={user} 
					date={date}
					comment={comment}
					viewer={viewer}
				/>
			))
		}
		<!-- COLUMN RIGHT -->
		 <div class="px-4">

			<Title title="Press Release"  style="button"/>
			{
				contentPress.map(({ title, short_desc, cover, link, avatar, user, date, comment, viewer }) => (
					<Card 
						name="feed-small" 
						
						title={title} 
						short_desc={short_desc} 
						cover={cover} 
						link={link} 
						avatar={avatar} 
						user={user} 
						date={date}
						comment={comment}
						viewer={viewer}
					/>
				))
			}
			<Ads  typeAds="300x600" imgAds="https://embed.bannerboo.com/crtv/b591250f2adfe_fallback.png" />

			<Title title="Statistik"  style="button"/>
			<Statistic  />


			<Title title="Most Viewed"  style="button"/>
			{
				contentPress.map(({ title, short_desc, cover, category, link, avatar, user, date, comment, viewer }) => (
					<Card 
						name="feed-small" 
						
						title={title} 
						short_desc={short_desc} 
						cover={cover} 
						category={category}
						link={link} 
						avatar={avatar} 
						user={user} 
						date={date}
						comment={comment}
						viewer={viewer}
					/>
				))
			}
			<Ads  typeAds="300x600" imgAds="https://www.healthyads.com/wp-content/uploads/2018/12/gerber-300x250-healthcare-advertising.jpg" />

			<Title title="Most Commented"  style="button"/>
			{
				contentPress.map(({ title, short_desc, cover, category, link, avatar, user, date, comment, viewer }) => (
					<Card 
						name="feed-small" 
						
						title={title} 
						short_desc={short_desc} 
						cover={cover} 
						category={category}
						link={link} 
						avatar={avatar} 
						user={user} 
						date={date}
						comment={comment}
						viewer={viewer}
					/>
				))
			}
		 </div>

		<Footer  />
</Layout>
