---
import Avatars from './Avatars.astro';
import Badge from './Badge.astro';
import Icons from './Icons.astro';
import { formatNumber } from '../utils/formatNumber';


const { title, short_desc, desc, cover, category, link, avatar, user, status, status_input, date, comment, viewer, name} = Astro.props;
const countComment = formatNumber(comment); 
const countViewer = formatNumber(viewer);
---

{name === 'headline' && (  
    <div class="w-full border-b border-gray-200 px-4 lg:px-0">
        <a href={link} class="aspect-video block border border-gray-200 rounded-lg">
            <img class="rounded-lg object-cover w-full h-full" src={cover} alt={title} />
        </a>
        <div class="py-4">
            <Badge category={category}/>
            <a href={link}>
                <h5 class="mb-2 text-lg lg:text-2xl font-bold text-gray-900 hover:text-sk-900 dark:text-white">{title}</h5>
            </a>
            <p class="mb-3 font-normal text-sm lg:text-base text-gray-500 dark:text-gray-400">{short_desc}</p>
            <div class="flex items-end lg:items-center">
                <div class="w-6/12 lg:flex lg:items-center gap-3">
                    <div class="flex items-center gap-3 mb-3 lg:mb-0">
                        <Avatars imageUrl={avatar} name={user} statusAkun={status} size="w-8 h-8" />
                        <div class="font-medium text-sm dark:text-white">
                            <div class="max-w-32 truncate">{user}</div>
                        </div>
                    </div>
                    <div class="w-1 h-1 rounded-lg bg-gray-300 hidden lg:block"></div>
                    <div class="text-sm text-gray-400">{date}</div>
                </div>
                <div class="w-6/12 flex items-center gap-6 justify-end">
                    <div class="flex items-center gap-2">
                        <Icons name="comment" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                        <div class="text-gray-600 text-sm">
                            {countComment}
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <Icons name="viewer" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                        <div class="text-gray-600 text-sm">
                            {countViewer}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
)}
{name === 'highlight' && (
    <div class="flex-shrink-0" data-carousel-item>
        <a href={link} class="aspect-video block border border-gray-200 rounded-lg relative">
            <span class="absolute left-2 top-2">
                <Badge category={category}/>
            </span>
            <img class="rounded-lg object-cover w-full h-full" src={cover} alt={title} />
        </a>
        <div class="pt-2 md:pt-4">
            <a href={link}>
                <h5 class="mb-2 text-sm md:text-md font-bold text-gray-900 hover:text-sk-900 dark:text-white">{title}</h5>
            </a>
            <span class="mb-2 text-xs font-normal text-gray-400 dark:text-white">{date}</span>
        </div>
    </div>
)}
{name === 'feed' && (
    <div class="w-full border-b border-gray-200 py-6 px-4 lg:px-0">
        <div class="flex items-center lg:items-start gap-4">
            <div class="w-9/12 lg:w-8/12">
                <Badge category={category}/>
                <a href={link}>
                    <h5 class="mb-2 mt-1 text-base lg:text-xl font-bold text-gray-900 hover:text-sk-900 dark:text-white">{title}</h5>
                </a>
                <p class="text-sm text-gray-500 line-clamp-3">{short_desc}</p>
            </div>
            <a href={link} class="aspect-square lg:aspect-video bg-white block border border-gray-200 rounded-lg relative w-3/12 lg:w-4/12 h-full">
                <img class="rounded-lg object-cover w-full h-full" src={cover} alt={title} />
            </a>
        </div>
        <div class="flex items-end lg:items-center mt-4 lg:mt-6">
            <div class="w-6/12 lg:flex lg:items-center gap-3">
                <div class="flex items-center gap-3 mb-3 lg:mb-0">
                    <Avatars imageUrl={avatar} name={user} statusAkun={status} size="w-8 h-8" />
                    <div class="font-medium text-sm dark:text-white">
                        <div class="max-w-48 lg:max-w-32 truncate">{user}</div>
                    </div>
                </div>
                <div class="w-1 h-1 rounded-lg bg-gray-300 hidden lg:block"></div>
                <div class="text-sm text-gray-400">{date}</div>
            </div>
            <div class="w-6/12 flex items-center gap-6 justify-end">
                <div class="flex items-center gap-2">
                    <Icons name="comment" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                    <div class="text-gray-600 text-sm">
                        {countComment}
                    </div>
                </div>
                <div class="flex items-center gap-2">
                    <Icons name="viewer" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                    <div class="text-gray-600 text-sm">
                        {countViewer}
                    </div>
                </div>
            </div>
        </div>
    </div>
)}
{name === 'feed-dashboard' && (
<div class="w-full border-b border-gray-200 py-6 px-4 lg:px-0">
    <div class="flex items-center lg:items-start gap-4">
        <div class="w-9/12 lg:w-8/12">
            <Badge category={category}/>
            <a href={link}>
                <h5 class="mb-2 mt-1 text-base lg:text-xl font-bold text-gray-900 hover:text-sk-900 dark:text-white">{title}</h5>
            </a>
            <p class="text-sm text-gray-500 line-clamp-3">{short_desc}</p>
        </div>
        <a href={link} class="aspect-square lg:aspect-video bg-white block border border-gray-200 rounded-lg relative w-3/12 lg:w-4/12 h-full">
            <img class="rounded-lg object-cover w-full h-full" src={cover} alt={title} />
        </a>
    </div>
    <div class="flex items-end lg:items-center mt-4 lg:mt-6">
        <div class="w-6/12 lg:flex lg:items-center gap-3">
            <div class="flex items-center gap-3 mb-3 lg:mb-0">
                <Badge status_input={status_input}/>
            </div>
            <div class="w-1 h-1 rounded-lg bg-gray-300 hidden lg:block"></div>
            <div class="text-sm text-gray-400">{date}</div>
        </div>
        <div class="w-6/12 flex items-center gap-6 justify-end">
            <div class="flex items-center gap-2">
                <Icons name="comment" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                <div class="text-gray-600 text-sm">
                    {countComment}
                </div>
            </div>
            <div class="flex items-center gap-2">
                <Icons name="viewer" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                <div class="text-gray-600 text-sm">
                    {countViewer}
                </div>
            </div>
        </div>
    </div>
</div>
)}
{name === 'feed-small' && (
<div class="w-full border-b border-gray-200 pb-4 mb-4">
    <div class="flex gap-4 items-center md:items-start">
        <div class="w-9/12 md:w-8/12">
            <Badge category={category}/>
            <a href={link}>
                <h5 class="mb-2 mt-1 text-md font-semibold text-gray-900 hover:text-sk-900 dark:text-white">{title}</h5>
            </a>
        </div>
        <a href={link} class="aspect-square bg-white block border border-gray-200 rounded-lg relative w-3/12 md:w-4/12 h-full ">
            <img class="rounded-lg object-cover w-full h-full" src={cover} alt={title} />
        </a>
    </div>
    <div class="flex mt-4">
        <div class="w-full flex items-center gap-3">
            <Avatars imageUrl={avatar} name={user} statusAkun={status} size="w-6 h-6" />
            <div class="font-medium text-sm dark:text-white">
                <div class="max-w-24 truncate">{user}</div>
            </div>
            <div class="w-1 h-1 rounded-lg bg-gray-300"></div>
            <div class="text-sm text-gray-400">{date}</div>
        </div>
    </div>
</div>
)}
{name === 'detail' && (
    <div class="mb-8 mt-4 md:mt-0 px-4 md:px-0">
        <Badge category={category}/>
        <h1 class="text-xl md:text-3xl text-black font-bold mt-1">{title}</h1>
        <div class="flex items-end lg:items-center my-4 lg:mt-6">
            <div class="w-6/12 lg:flex lg:items-center gap-3">
                <div class="flex items-center gap-3 mb-3 lg:mb-0">
                    <Avatars imageUrl={avatar} name={user} statusAkun={status} size="w-8 h-8" />
                    <div class="font-medium text-sm dark:text-white">
                        <div class="max-w-48 lg:max-w-32 truncate">{user}</div>
                    </div>
                </div>
                <div class="w-1 h-1 rounded-lg bg-gray-300 hidden lg:block"></div>
                <div class="text-sm text-gray-400">{date}</div>
            </div>
            <div class="w-6/12 flex items-center gap-6 justify-end">
                <div class="flex items-center gap-2">
                    <Icons name="comment" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                    <div class="text-gray-600 text-sm">
                        {countComment}
                    </div>
                </div>
                <div class="flex items-center gap-2">
                    <Icons name="viewer" IconStyle="w-6 h-6 fill-gray-500" Box="0 0 18 19"/>
                    <div class="text-gray-600 text-sm">
                        {countViewer}
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full block border border-gray-200 rounded-lg relative w-4/12 mb-6">
            <img class="rounded-lg w-full h-auto" src={cover} alt={title} />
        </div>
        <div class="border-l-4 border-gray-200 pl-6 text-lg font-normal text-italic text-gray-500 mb-6">{short_desc}</div>
        <div class="desc" set:html={desc}></div>
    </div>
)}

