---
import content from '../data/content.json';

import Card from '../components/Card.astro';
import Title from '../components/Title.astro';

const contentHighlight = content.slice(1, 4);
const { title} = Astro.props;
---

<div class="py-4 border-b border-gray-200">
	<Title title={title}/>
	<div class="flex gap-3">
		{
			contentHighlight.map(({ title, short_desc, cover, category, link, avatar, user, date, comment, viewer }) => (
				<Card 
					name="highlight" 
					slot="highlight"
					title={title} 
					short_desc={short_desc} 
					cover={cover} 
					category={category} 
					link={link} 
					avatar={avatar} 
					user={user} 
					date={date}
					comment={comment}
					viewer={viewer}
				/>
			))
		}
	</div>
</div>
